body {
  background-color: rgb(238, 238, 238);
}

.headerDiv {
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.headerText {
  height: 60px;
  width: 100%;
  font-size: 4vw;
}

.headerTextLink {
  font-size: 1.5vw;
}
.headerTextLink a {
  text-decoration: none;
  color: blueviolet;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.image {
  width: 370px;
  margin-top: 50px;
}

@media only screen and (max-width: 770px) {
  .container {
    margin: 0 10%;
  }

  .image {
    width: 100%;
  }
}
